@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&family=Raleway&display=swap');

:root {
    --primary-color: #DBF4AD;
    --primary-color-light: #E6FBC0;
    --secondary-color: #D0C4DF;
    --secondary-color-light: #D9D3DF;
    --accent-color: #499167;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-size: 16px;
}

img {
    width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
header {
    font-family: "Poly", serif;
}

h1 {
    font-size: 3.5rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}

.large_text {
    font-size: 20px;
}

body {
    margin: auto;
    font-family: "Raleway", serif;
    position: static;
}

#recipe-container {
    display: grid;
    grid-template-areas: 
    'navTag'
    'asideTag'
    'ingredientsTag'
    'mainTag'
    'footerTag';
}

@media screen and (max-width: 768px) {
    /* MENU TOGGLE */
    #menu-toggle {
        display: none;
    }
    .hamburger {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin: 3px;
    }
    .hamburger span {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: blueviolet;
        border-radius: 3px;
    }
    .hamburger span:nth-child(1) {
        top: 0;
    }
    .hamburger span:nth-child(2) {
        top: 9px;
    }
    .hamburger span:nth-child(3) {
        bottom: 0;
    }
    #menu-toggle:checked ~ .menu {
        right: 0;
    }

    /* MAINMENU */
    .menu {
        position: absolute;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background-color: aqua;
        color: black;
    }
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .menu ul li {
        padding: 10px;
    }
    .menu ul li a {
        color: black;
        text-decoration: none;
    }
}

@media screen and (min-width: 769px) {
    #menu-toggle,
    .hamburger{
        display: none;
    }
    
    /* MAINMENU */
    .menu {
        background-color: var(--primary-color);
        grid-area: navTag;
        margin: 0 0 2% 0;
    }
    .menu > a {
        background-color: var(--primary-color);
        width: 20%;
        height: 100%;
        float: left;
    }
    .menu > a > img {
        display: block;
        margin: auto;
        height: 100%;
    }
    .menu > ul {
        background-color: var(--primary-color);
        line-height: 7em;
        float: right;
        text-align: center;
        margin-right: 20px;
    }
    .menu > ul > li {
        display: inline;
        font-size: 20px;
        margin: 10px;
        background-color: var(--primary-color);
    }
    .menu > ul > li > a {
        background-color: var(--primary-color);
        text-decoration: none;
    }
    .nav {
        color: black;
    }
    .nav:hover {
        color: var(--secondary-color-light);
    }
    #contact {
        background-color: var(--accent-color);
        color: black;
        border-radius: 10px;
        padding: 10px 20px;
    }
    #contact:hover {
        color: lightgrey;
    }
}

/* RECEPT ASIDE */
#recipe_aside {
    width: 70%;
    margin: 2% auto;
    grid-area: asideTag;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2%;
}
#recipe_aside_image {
    grid-column: 1;
}
#recipe_aside_image > img {
    width: 100%;
}
#recipe_aside_section {
    grid-column: 2;
    margin-left: 0;
}
#recipe_aside_section > p {
    padding: 2%;
    border: gray solid 1px;
    border-radius: 10px;
    background-color: var(--primary-color-light);
}

/* RECIPE INGREDIENTS */
#recipe_ingredients {
    grid-area: ingredientsTag;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
    width: 70%;
    margin: 2% auto;
    padding: 2%;
    border-color: gray;
    border-style: double;
    border-width: 3px;
    border-radius: 10px;
    background-color: var(--secondary-color-light);
}
#recipe_ingredients > * {
    background-color: var(--secondary-color-light);
}
#recipe_ingredients > * > * {
    background-color: var(--secondary-color-light);
}
#recipe_ingredients_ingredients > h1,
#recipe_ingredients_utensils > h1 {
    font-size: 2em;
}

#recipe_ingredients_ingredients > ul > li,
#recipe_ingredients_utensils > ul > li {
    font-size: 20px;
    list-style-type: none;
    background-color: var(--secondary-color-light);
}

/* MAIN content */
main {
    grid-area: mainTag;
    width: 70%;
    margin: 2% auto;
}
main > .recipe_article {
    width: 50%;
    float: left;
}
main > .recipe_article > ol > li {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Company Footer */
#company_footer {
    grid-area: footerTag;
}
#company_footer_section_1 {
    width: 30%;
    float: left;
}
#company_footer_section_2 {
    width: 70%;
    float: left;
}
#company_footer_section_2 > aside {
    width: 30%;
    float: left;
}
#company_footer_section_2 > article {
    width: 30%;
    float: left;
}
#company_footer_section_2 > section {
    width: 40%;
    float: left;
}
#company_footer_section_2 > section > a > img {
    width: 20%;
    margin: 5%;
}

/* discover */
#discover-container {
    display: grid;
    grid-template-areas: 
    'navTag'
    'titleTag'
    'mainTag'
    'breakfastTag'
    'lunchTag'
    'footerTag';
}

.card {
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 99%;
    background-color: var(--secondary-color-light);
}
.card > * {
    background-color: var(--secondary-color-light);
    width: 90%;
    margin: 0 5%;
}
.card > img {
    margin: 5%;
    object-fit:cover;
}

#title {
    grid-area: titleTag;
    margin: auto;
}
#subtitle {
    grid-area: subtitleTag;
    padding: 0 5%;
}
#main_dish {
    grid-area: mainTag;
}
#breakfast {
    grid-area: breakfastTag;
}
#lunch {
    grid-area: lunchTag;
}
.recipe_list > * {
    padding: 0 5%;
}
.recipe_list > section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    margin: 2% 0;
    padding: 0 10%;
    background-color: var(--primary-color-light);
}

/* popular */
#popular-container {
    display: grid;
    grid-template-areas: 
    'navTag'
    'titleTag'
    'subtitleTag'
    'hightlightTag'
    'recommendedTag'
    'footerTag';
}

#highlight {
    padding: 0 5%;
    background-color: var(--primary-color-light);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10%;
    margin: 2% 0;
    grid-area: hightlightTag;
    align-items: center;
}
#highlight > *,
#highlight > * > p,
#highlight > * > h2 {
    background-color: var(--primary-color-light);
}

#recommended {
    grid-area: recommendedTag;
}