* {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #FFF;
}

img {
    width: 100px;
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    position: static;
}

#recept-container {
    display: grid;
    grid-template-areas: 
    'navTag navTag'
    'asideImageTag asideSectionTag'
    'ingredientsTag ingredientsTag'
    'mainTag mainTag'
    'footerTag footerTag';
}

#ontdek-container {
    display: grid;
    grid-template-areas: 
    'navTag navTag'
    'asideImageTag asideSectionTag'
    'ingredientsTag ingredientsTag'
    'mainTag mainTag'
    'footerTag footerTag';
}

@media screen and (max-width: 768px) {
    /* MENU TOGGLE */
    #menu-toggle {
        display: none;
    }
    .hamburger {
        position: relative;
        display: inline-block;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin: 3px;
    }
    .hamburger span {
        position: absolute;
        left: 0;
        right: 0;
        height: 3px;
        background-color: blueviolet;
        border-radius: 3px;
    }
    .hamburger span:nth-child(1) {
        top: 0;
    }
    .hamburger span:nth-child(2) {
        top: 9px;
    }
    .hamburger span:nth-child(3) {
        bottom: 0;
    }
    #menu-toggle:checked ~ .menu {
        right: 0;
    }

    /* MAINMENU */
    .menu {
        position: absolute;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100%;
        background-color: aqua;
        color: black;
    }
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    .menu ul li {
        padding: 10px;
    }
    .menu ul li a {
        color: black;
        text-decoration: none;
    }
}

@media screen and (min-width: 769px) {
    #menu-toggle,
    .hamburger{
        display: none;
    }
    
    /* MAINMENU */
    .menu {
        grid-area: navTag;
        margin: 0 0 2% 0;
    }
    .menu > a {
        width: 20%;
        height: 100%;
        float: left;
    }
    .menu > a > img {
        display: block;
        margin: auto;
        height: 100%;
    }
    .menu > ul {
        line-height: 7em;
        float: right;
        text-align: center;
        margin-right: 20px;
    }
    .menu > ul > li {
        display: inline;
        font-size: 20px;
        margin: 10px;
    }
    .menu > ul > li > a {
        text-decoration: none;
    }
    .nav {
        color: black;
    }
    .nav:hover {
        color: purple;
    }
    #contact {
        background-color: black;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
    }
    #contact:hover {
        color: lightgrey;
    }
}

/* RECEPT ASIDE */
#recipe_aside {
    width: 70%;
    margin: 2% auto;

}
#recipe_aside_image { 
    grid-area: asideImageTag;
}
#recipe_aside_image > img {
    width: 100%;
}
#recipe_aside_section {
    grid-area: asideSectionTag;
    margin-left: 5%;
}
#recipe_aside_section > h1 {
    font-size: 3em;
}
#recipe_aside_section > h2 {
    font-size: 20px;
}
#recipe_aside_section > h3 {
    font-size: 20px;
    color: gray;
}
#recipe_aside_section > p {
    font-size: 20px;
    padding: 2%;
    border: gray solid 1px;
    border-radius: 10px;
}

/* RECIPE INGREDIENTS */
#recipe_ingredients {
    grid-area: ingredientsTag;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 2% auto;
    padding: 2%;
    border: gray solid 1px;
    border-radius: 10px;
}
#recipe_ingredients_ingredients,
#recipe_ingredients_utensils {
    width: 45%;
}

#recipe_ingredients_ingredients > h1,
#recipe_ingredients_utensils > h1 {
    font-size: 2em;
}

#recipe_ingredients_ingredients > ul > li,
#recipe_ingredients_utensils > ul > li {
    font-size: 20px;
    list-style-type: none;
}

/* MAIN content */
main {
    grid-area: mainTag;
    width: 70%;
    margin: 2% auto;
}
main > .recipe_article {
    width: 50%;
    float: left;
}
main > .recipe_article > ol > li {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Company Footer */
#company_footer {
    grid-area: footerTag;
}
#company_footer_section_1 {
    width: 30%;
    float: left;
}
#company_footer_section_2 {
    width: 70%;
    float: left;
}
#company_footer_section_2 > aside {
    width: 30%;
    float: left;
}
#company_footer_section_2 > article {
    width: 30%;
    float: left;
}
#company_footer_section_2 > section {
    width: 40%;
    float: left;
}
#company_footer_section_2 > section > a > img {
    width: 20%;
    margin: 5%;
}

.card {
    grid-area: cardTag;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 33%;
}

#main_dish {

}
#main_dish > section {
    display: grid;
    grid-template-areas: 
    'cardTag cardTag cardTag';
}